@mixin max_width($breakpoint) {
    @media only screen and (max-width: $breakpoint) {
      @content
    }
  }
.header {
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    &-logo {
        display: inline-block;
        img {
            width: 220px;
            height: 70px;
            object-fit: contain;
        }
    }
    &-user-welcome {
        display: flex;
        align-items: center;
    }
    &-user-btn:not(:last-child) {
        margin-right: 10px;
    }
    &-user-name {
        margin: 0 10px 0 0;
    }
    &-nav {
        background-color: #025aac;
    }
    &-menu {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        &-item {
            list-style: none;
            padding: 10px 0;

            &:not(:last-child) {
                // margin-right: 10px;
                border-right: 1px solid #20466d;
            }
        }
        &-link {
            text-decoration: none;
            font-size: 14px;
            color: white;
            position: relative;
            padding: 0 10px;
            &::before {
                content: "";
                position: absolute;
                background-color: white;
                left: 0;
                bottom: -5px;
                width: 0;

                height: 2px;
                transition: all 0.25s linear;
            }

            &:hover {
                color: white;
                &::before {
                    width: 100%;
                }
            }
        }
    }
    &__action {
        z-index: 20;
        display: none;
        &__wrap {
            display: flex;
            align-items: center;
            
        }

        .menu {
            
            &__icon {
                display: none;
                @include max_width(767px) {
                    display: block;
                }
                @include max_width(480px) {
                    display: block;
                }
            }
            &__overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;  
                right: 0;
                background-color: #b2c7f3a8;
                z-index: 64;
                bottom: 0;
              }
            &__mobile {
                &__wrap {
                    position: fixed;
                    top: 0;
                    width: 500px;
                    left: -500px;
                    bottom: 0;
                    background-color: #FFFFFF;
                    z-index: 65;
                    transition: all 0.3s linear;
                    padding-top: 15px;
                    &.active {
                      left: 0;
                    }
                    @include max_width(450px) {}
                    left: -230px;
                    width: 230px;
                }
                &__logo {
                    img {
                        @include max_width(900px) {
                            padding-left: 15px;
                            width: 50%;

                        }
                        @include max_width(480px) {
                            padding-left: 15px;
                        }
                    }
                }
                &__authen {
                    margin-top: 15px;
                    border-top: 1px solid #7854F7;
                    padding-top: 10px;
                    // padding-left: 15px;
                    ul {
                        li {
                            padding-bottom:10px ;
                            transition: 0.25s;
                            list-style: none;
                            a {
                                text-decoration: none;
                                color: #000;
                                display: block;
                            }
                            &:last-child {
                                padding-bottom: 0px;
                            }
                            &:hover a {
                                color: #7854F7;
                            }
                        }
                    }
                }
                &__list {
                    margin-top: 15px;
                    border-top: 1px solid #7854F7;
                    padding-top: 10px;
                    // padding-left: 15px;
                    ul {
                        li {
                            padding-bottom:10px ;
                            transition: 0.25s;
                            list-style: none;
                            a {
                                text-decoration: none;
                                color: #000;
                                display: block;
                            }
                            &:last-child {
                                padding-bottom: 0px;
                            }
                            &:hover a {
                                color: #7854F7;
                            }
                        }
                    }
                }
            }
        }
    }
}
